# Folders
data/
Documentation/
*_archives/
output/researcher_info/
Project Development Documents/
scripts/temporary_scripts/

# Mac
.DS_Store

# Python
.ipynb_checkpoints
__pycache__/

# Files
*.csv
*.log
*.gph
